* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url(../img/bg/main.jpg ) center center/cover  no-repeat;
    padding: 39px 0 69px 0;
}

.logo .logo_img, .gift .gift_img, .first .first_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
} 

h1 {
    margin-top: 53px;
}
.title {
    color: #F9BF3B;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #fff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
    /* line-height: 24px;     */
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
    }

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #fff;
    font-family: "Roboto Light";
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;    
    text-align: center;
    /* text-transform: uppercase; */
    /* margin-top: 21px; */

}
.promo .promo_text span {
    color: #F9BF3B;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0px 0px  rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    color: #fff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.more .more_text {
    color:#fff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px;
}

.waiting_header, .finish .finish_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {    
    color: #252525;
    margin-top: 17px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.opimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.opimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}

.opimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-family: "Roboto Light";
}

.opimization .optimization_text span {    
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.opimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px;
    background: url(../img/bg/secong_bg.jpg) center center/cover no-repeat;
}

.finish .finish_header {
    color: #efefef;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_items {
    width: 204px;
}

.finish .finish_wrapper .finish_items .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_items .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    min-height: 625px;
    background-color: #efefef;
}

.gift .img_gift {
    padding-top: 86px;
}

.gift .gift_text {
    margin-top: 46px;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.gift .gift_btn {
    margin-top: 60px;
}

.first {
    min-height: 515px;
    padding: 80 0 70 0;
}
/* 
.first .first_img {
    padding-top: 80px;
} */

.first .first_text {
    margin-top: 36px;
    font-family: "Roboto - Black";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.first .first_start {
    text-transform: uppercase;
}

.first .first_time {
    padding: 30px;
    color:#299cbd;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

footer {    
    padding-top: 60px;
    height: 165px;
    background-color:#252525;
    color: #efefef;
}
footer a {    
    text-decoration: none;
    color: #efefef;
}

footer .container{    
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.underlined {
    text-decoration: underline;
}
